<div class="col-sm-8 col-md-8 col-xs-7 principal">
    <img src="../../../../../../assets/images/formatos/logoL_.png" 
        style="width: 230px; height: 130px;" alt=""><br><strong>
            AGENCIA MUNICIPAL CONSTITUCIONAL <br>
            BUENAVISTA LOXICHA. PERIODO 2018</strong>
</div>
<div class="col-sm-4 col-md-4 col-xs-5 principal_2" style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
    <strong>DEPENDENCIA: H. AGENCIA MUNICIPAL
    CONSTITUCIONAL<br>
    BUENAVISTA LOXICHA POCHUTLA.<br>
    SECCION: ADMINISTRATIVA</strong>
</div>