<div class="breadcrumbs ace-save-state oculto-impresion" id="breadcrumbs">
    <ul class="breadcrumb">
      <li style="font-size: 15px;">
        <i class="ace-icon fa fa-home home-icon"></i>
        <a (click)="_formato.vaciarFormato()" [routerLink]="[ '/home']">Formatos</a>
      </li>

      <li style="font-size: 15px;">
        <a [routerLink]="[ '/home/formato', _formato.formato?.id]">{{_formato.formato?.nombre}}</a>
      </li>
      <!-- <li class="active">Blank Page</li> -->
    </ul><!-- /.breadcrumb -->
  </div>


      <!-- <div class="page-header">
          <h1>Formatos</h1>
        </div>

  
        <div class="hr dotted"></div> -->