<div class="page-content">
  <div class="row search-page" id="search-page-1">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <app-datos-formato></app-datos-formato>
        </div>

        <div class="col-xs-12 col-sm-9">
          <div class="row">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam molestias ex sunt explicabo fugit voluptate aut iure dolore id, quaerat praesentium in. Culpa earum quasi eaque obcaecati, debitis nisi error?</p>

          </div>

          <div class="space-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>


