<div>
  <div class="row">
    <div class="col-sm-8 col-md-8 col-xs-7 principal" style="font-size: 10px">
      <img src="../../../../../../assets/images/formatos/logoL_.png" 
          style="width: 150px; height: 80px; margin-left: 15px;" 
          alt="">
          <br><strong>
              AGENCIA MUNICIPAL CONSTITUCIONAL <br>
              BUENAVISTA LOXICHA. PERIODO 2018</strong>
    </div>
    <div class="col-sm-4 col-md-4 col-xs-5 principal_2" style="border-top: 1px solid gray; border-bottom: 1px solid gray; font-size: 10px;">
        <strong>DEPENDENCIA: H. AGENCIA MUNICIPAL
        CONSTITUCIONAL<br>
        BUENAVISTA LOXICHA POCHUTLA.<br>
        SECCION: JURIDICA</strong>
    </div>
  </div>
<div [ngStyle]="{'font-family': _datos.fuente, 'font-size': _datos.tamFuenteLocatarios +'.0pt'}">
  <p style="text-align: right;"><span style="font-size: 12.0pt; line-height: 115%;">Buenavista, Loxicha, Pochutla, Oaxaca a {{_datos.dia}} de {{_datos.mes | uppercase}} del {{_datos.anio}}.</span></p>
  <p style="margin-bottom: 0.0001pt; text-align: left;"><u><span style="font-size: 12.0pt; line-height: 115%;">C. {{_datos.nombre | uppercase}}.</span></u></p>
  <p style="margin-bottom: 0.0001pt; text-align: left;"><span style="font-size: 12.0pt; line-height: 115%;">Locatario del mercado municipal Santa Cecilia.</span></p>
  <br>
  <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">Los que suscriben C. {{_datos.sindico}}, C. {{_datos.sindicoAux}}, cita a usted {{_datos.fechaCita}}, en el lugar que ocupa la oficina de la sindicatura municipal, para {{_datos.asuntoCitatorioLocatario}}.</span></p>
  <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">&nbsp;</span></p>
  <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">No dudando de contar con su puntual asistencia, les enviamos un cordial saludo.</span></p>
        
  <app-footer-sindico-aux-ysinuxsuplente [ngStyle]="{'font-size': '9.0pt'}"></app-footer-sindico-aux-ysinuxsuplente>
</div>

    
<div class="row">
    <div class="col-sm-8 col-md-8 col-xs-7 principal" style="font-size: 10px">
      <img src="../../../../../../assets/images/formatos/logoL_.png" 
          style="width: 150px; height: 80px; margin-left: 15px;" 
          alt="">
          <br><strong>
              AGENCIA MUNICIPAL CONSTITUCIONAL <br>
              BUENAVISTA LOXICHA. PERIODO 2018</strong>
    </div>
    <div class="col-sm-4 col-md-4 col-xs-5 principal_2" style="border-top: 1px solid gray; border-bottom: 1px solid gray; font-size: 10px;">
        <strong>DEPENDENCIA: H. AGENCIA MUNICIPAL
        CONSTITUCIONAL<br>
        BUENAVISTA LOXICHA POCHUTLA.<br>
        SECCION: JURIDICA</strong>
    </div>
  </div>
  <div [ngStyle]="{'font-family': _datos.fuente, 'font-size': _datos.tamFuenteLocatarios +'.0pt'}">
    <p style="text-align: right;"><span style="font-size: 12.0pt; line-height: 115%;">Buenavista, Loxicha, Pochutla, Oaxaca a {{_datos.dia}} de {{_datos.mes | uppercase}} del {{_datos.anio}}.</span></p>
    <p style="margin-bottom: 0.0001pt; text-align: left;"><u><span style="font-size: 12.0pt; line-height: 115%;">C. {{_datos.nombre2 | uppercase}}.</span></u></p>
    <p style="margin-bottom: 0.0001pt; text-align: left;"><span style="font-size: 12.0pt; line-height: 115%;">Locatario del mercado municipal Santa Cecilia.</span></p>
    <br>
    <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">Los que suscriben C. {{_datos.sindico}}, C. {{_datos.sindicoAux}}, cita a usted {{_datos.fechaCita}}, en el lugar que ocupa la oficina de la sindicatura municipal, para {{_datos.asuntoCitatorioLocatario}}.</span></p>
    <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">&nbsp;</span></p>
    <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">No dudando de contar con su puntual asistencia, les enviamos un cordial saludo.</span></p>
        
    <app-footer-sindico-aux-ysinuxsuplente [ngStyle]="{'font-size': '9.0pt'}"></app-footer-sindico-aux-ysinuxsuplente>
  </div>
</div>
