<div>
  <div class="row">
    <app-header-locatarios></app-header-locatarios>
  </div>
<div [ngStyle]="{'font-family': _datos.fuente, 'font-size': _datos.tamFuenteLocatarios +'.0pt'}">
  <p style="text-align: right;"><span style="font-size: 12.0pt; line-height: 115%;">Buenavista, Loxicha, Pochutla, Oaxaca a {{_datos.dia}} de {{_datos.mes | uppercase}} del {{_datos.anio}}.</span></p>
  <p style="margin-bottom: 0.0001pt; text-align: left;"><u><span style="font-size: 12.0pt; line-height: 115%;">C. {{_datos.nombre | uppercase}}.</span></u></p>
  <p style="margin-bottom: 0.0001pt; text-align: left;"><span style="font-size: 12.0pt; line-height: 115%;">Locatario del mercado municipal Santa Cecilia.</span></p>
  <br>
  <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">Los que suscriben C. {{_datos.sindico | uppercase}}, C. {{_datos.sindicoAux | uppercase}}, cita a usted {{_datos.fechaCita}}, en el lugar que ocupa la oficina de la sindicatura municipal, para {{_datos.asuntoCitatorioLocatario}}.</span></p>
  <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">&nbsp;</span></p>
  <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">No dudando de contar con su puntual asistencia, les enviamos un cordial saludo.</span></p>
        
  <app-footer-sindico-aux-ysinuxsuplente [ngStyle]="{'font-size': '9.0pt'}"></app-footer-sindico-aux-ysinuxsuplente>
</div>

    
<div class="row">
    <app-header-locatarios></app-header-locatarios>
  </div>
  <div [ngStyle]="{'font-family': _datos.fuente, 'font-size': _datos.tamFuenteLocatarios +'.0pt'}">
    <p style="text-align: right;"><span style="font-size: 12.0pt; line-height: 115%;">Buenavista, Loxicha, Pochutla, Oaxaca a {{_datos.dia}} de {{_datos.mes | uppercase}} del {{_datos.anio}}.</span></p>
    <p style="margin-bottom: 0.0001pt; text-align: left;"><u><span style="font-size: 12.0pt; line-height: 115%;">C. {{_datos.nombre2 | uppercase}}.</span></u></p>
    <p style="margin-bottom: 0.0001pt; text-align: left;"><span style="font-size: 12.0pt; line-height: 115%;">Locatario del mercado municipal Santa Cecilia.</span></p>
    <br>
    <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">Los que suscriben C. {{_datos.sindico | uppercase}}, C. {{_datos.sindicoAux | uppercase}}, cita a usted {{_datos.fechaCita}}, en el lugar que ocupa la oficina de la sindicatura municipal, para {{_datos.asuntoCitatorioLocatario}}.</span></p>
    <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">&nbsp;</span></p>
    <p style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-size: 12.0pt; line-height: 115%;">No dudando de contar con su puntual asistencia, les enviamos un cordial saludo.</span></p>
        
    <app-footer-sindico-aux-ysinuxsuplente [ngStyle]="{'font-size': '9.0pt'}"></app-footer-sindico-aux-ysinuxsuplente>
  </div>
</div>
