<div>
    <div class="row">
        <app-header-sindico></app-header-sindico>
    </div>
  <div class="" [ngStyle]="{'font-family': _datos.fuente, 'font-size': _datos.tamFuente +'.0pt'}">
      <p style="margin-bottom: 0.0001pt; line-height: normal; text-align: right;"><strong>ASUNTO</strong>: CONSTANCIA DE POSESION.</p>
      <p style="margin-bottom: .0001pt; text-align: center;">&nbsp;</p>
      <p style="line-height: normal;">A QUIEN CORRESPONDA:&nbsp;</p>
      
      <p style="text-align: justify; line-height: normal;">&nbsp;&nbsp; EL QUE SUSCRIBE C. <strong>{{_datos.sindico | uppercase}}</strong>, SINDICO MUNICIPAL DE ESTA POBLACI&Oacute;N, EN FUNCIONES LEGALES Y EN USO DE LAS FACULTADES QUE LA LEY ORG&Aacute;NICA MUNICIPAL ME CONCEDE, PERMITO EXTENDER LA PRESENTE:</p>
      <p style="text-align: center; line-height: normal;"><strong><span style="font-size: 16.0pt;">CONSTANCIA DE POSESION</span></strong></p>
      
      
      <p *ngIf="_datos.sexo == 'hombre' && _datos.sexoVendedor == 'hombre'" style="text-align: justify; line-height: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AL C. <strong>{{_datos.nombre | uppercase}}</strong>,&nbsp; DE {{_datos.edad}} A&Ntilde;OS DE EDAD DE OCUPACI&Oacute;N {{_datos.ocupacion | uppercase}}, ORIGINARIO Y VECINO DE ESTA COMUNIDAD DE: {{_datos.localidad | uppercase}}, QUIEN SE HACE POSESIONARIO DE UN TERRENO QUE LE FUE VENDIDO POR EL SE&Ntilde;OR <strong>{{_datos.vendedor | uppercase}}</strong> EL CUAL SE EXTIENDE LA SIGUIENTE CONSTANCIA DE POSESI&Oacute;N.</p>
      <p *ngIf="_datos.sexo == 'hombre' && _datos.sexoVendedor == 'mujer'" style="text-align: justify; line-height: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AL C. <strong>{{_datos.nombre | uppercase}}</strong>,&nbsp; DE {{_datos.edad}} A&Ntilde;OS DE EDAD DE OCUPACI&Oacute;N {{_datos.ocupacion | uppercase}}, ORIGINARIO Y VECINO DE ESTA COMUNIDAD DE: {{_datos.localidad | uppercase}}, QUIEN SE HACE POSESIONARIO DE UN TERRENO QUE LE FUE VENDIDO POR LA SEÑORA <strong>{{_datos.vendedor | uppercase}}</strong> EL CUAL SE EXTIENDE LA SIGUIENTE CONSTANCIA DE POSESI&Oacute;N.</p>      
      <p *ngIf="_datos.sexo == 'mujer' && _datos.sexoVendedor == 'hombre'" style="text-align: justify; line-height: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A LA C. <strong>{{_datos.nombre | uppercase}}</strong>,&nbsp; DE {{_datos.edad}} A&Ntilde;OS DE EDAD DE OCUPACI&Oacute;N {{_datos.ocupacion | uppercase}}, ORIGINARIA Y VECINA DE ESTA COMUNIDAD DE: {{_datos.localidad | uppercase}}, QUIEN SE HACE POSESIONARIA DE UN TERRENO QUE LE FUE VENDIDO POR EL SE&Ntilde;OR <strong>{{_datos.vendedor | uppercase}}</strong> EL CUAL SE EXTIENDE LA SIGUIENTE CONSTANCIA DE POSESI&Oacute;N.</p>
      <p *ngIf="_datos.sexo == 'mujer' && _datos.sexoVendedor == 'mujer'" style="text-align: justify; line-height: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A LA C. <strong>{{_datos.nombre | uppercase}}</strong>,&nbsp; DE {{_datos.edad}} A&Ntilde;OS DE EDAD DE OCUPACI&Oacute;N {{_datos.ocupacion | uppercase}}, ORIGINARIA Y VECINA DE ESTA COMUNIDAD DE: {{_datos.localidad | uppercase}}, QUIEN SE HACE POSESIONARIA DE UN TERRENO QUE LE FUE VENDIDO POR LA SEÑORA <strong>{{_datos.vendedor | uppercase}}</strong> EL CUAL SE EXTIENDE LA SIGUIENTE CONSTANCIA DE POSESI&Oacute;N.</p>
      
      
      <p style="text-align: justify; line-height: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DICHO INMUEBLE SE ENCUENTRA UBICADO EN <strong>{{_datos.ubicacion | uppercase}}</strong>: DE ESTA AGENCIA MUNICIPAL CONSTITUCIONAL Y EST&Aacute; DENTRO DEL TERRENO DE LA PEQUE&Ntilde;A PROPIEDAD, SUS MEDIDAS Y COLINDANCIAS SON LAS SIGUIENTES:</p>
      <p style="line-height: normal;">&nbsp;</p>
      <p style="text-align: justify; line-height: normal;">&nbsp; AL NORTE: MIDE {{_datos.norte | uppercase}}.</p>
      <p style="text-align: justify; line-height: normal;">&nbsp; AL SUR: MIDE {{_datos.sur | uppercase}}.</p>
      <p style="text-align: justify; line-height: normal;">&nbsp; AL&nbsp; ORIENTE: MIDE {{_datos.oriente | uppercase}}.</p>
      <p style="text-align: justify; line-height: normal;">&nbsp; AL PONIENTE: MIDE: {{_datos.poniente | uppercase}}.</p>
      <p style="line-height: normal;">&nbsp;</p>

      <p *ngIf="_datos.sexo == 'hombre'" style="margin-bottom: .0001pt; text-align: justify; line-height: normal;">A PETICI&Oacute;N DEL&nbsp; INTERESADO Y PARA LOS FINES LEGALES QUE LE CONVENGAN, SE EXTIENDE LA PRESENTE CONSTANCIA DE POSESI&Oacute;N&nbsp; EN LA SINDICATURA MUNICIPAL DE BUENAVISTA LOXICHA, POCHUTLA, OAXACA; A LOS <strong>{{_datos.dia}}</strong> D&Iacute;AS DEL MES DE <strong>{{_datos.mes}}</strong> DEL A&Ntilde;O <strong>{{_datos.anio}}</strong>.</p>      
      <p *ngIf="_datos.sexo == 'mujer'" style="margin-bottom: .0001pt; text-align: justify; line-height: normal;">A PETICI&Oacute;N DE LA INTERESADA Y PARA LOS FINES LEGALES QUE LA CONVENGAN, SE EXTIENDE LA PRESENTE CONSTANCIA DE POSESI&Oacute;N&nbsp; EN LA SINDICATURA MUNICIPAL DE BUENAVISTA LOXICHA, POCHUTLA, OAXACA; A LOS <strong>{{_datos.dia}}</strong> D&Iacute;AS DEL MES DE <strong>{{_datos.mes}}</strong> DEL A&Ntilde;O <strong>{{_datos.anio}}</strong>.</p>
      
      <app-footer-sindico-aux-ysinuxsuplente></app-footer-sindico-aux-ysinuxsuplente>
      <p style="margin-bottom: .0001pt; text-align: center;">&nbsp;</p>
    <!-- <app-footer-formatos></app-footer-formatos> -->
  </div>
</div>