<div class="page-content">
  <div class="row search-page" id="search-page-1">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <app-datos-formato></app-datos-formato>
        </div>

        <div class="col-xs-12 col-sm-9">
          <div class="row oculto-impresion">
              <div class="col-sm-12 widget-container-col" id="widget-container-col-12">
                  <div class="widget-box transparent" id="widget-box-12">
                    <div class="widget-header">
                      <h4 class="widget-title lighter">{{ formato.nombre }}</h4>
                    </div>
                  </div>
                </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <!-- <router-outlet></router-outlet> -->

                <div [ngSwitch]="id">
                  <div *ngSwitchCase="0"><app-origen-vecindad></app-origen-vecindad></div>
                  <div *ngSwitchCase="1"><app-liberacion-servicio></app-liberacion-servicio> </div>
                  <div *ngSwitchCase="2"><app-nombramiento></app-nombramiento> </div>
                  <div *ngSwitchCase="3"><app-citatorio-escuelas></app-citatorio-escuelas> </div>
                  <div *ngSwitchCase="4"><app-constancia-posesion></app-constancia-posesion> </div>
                  <div *ngSwitchCase="5"><app-ingresos-economicos></app-ingresos-economicos> </div>
                  <div *ngSwitchCase="6"><app-antecedentes-no-penales></app-antecedentes-no-penales> </div>
                  <div *ngSwitchCase="7"><app-domicilio></app-domicilio></div>
                  <div *ngSwitchCase="8"><app-defuncion></app-defuncion> </div>
                  <div *ngSwitchCase="9"><app-citatorio></app-citatorio> </div>
                  <div *ngSwitchDefault>...</div>
                </div>



            </div>

          </div>

          <div class="space-12 oculto-impresion"></div>
        </div>
      </div>
    </div>
  </div>
</div>


