<div class="search-area well well-sm oculto-impresion">
  <div class="search-filter-header bg-primary">
    <h5 class="smaller no-margin-bottom">
      <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Buscar formato
    </h5>
  </div>

  <div class="space-10"></div>

  <form>
    <div class="row">
      <div class="col-xs-12 col-sm-11 col-md-10">
        <div class="input-group">
          <input type="text" 
                  class="form-control" 
                  name="termino"
                  value="{{_formato.busqueda}}"
                  #buscarTexto
                  [(ngModel)]="termino"
                  placeholder="Formato"
                  (keyup)="buscar(buscarTexto.value)"
           />
          <div class="input-group-btn">
            <button type="button" class="btn btn-default no-border btn-sm">
              <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="hr hr-dotted"></div>
  <div>
      <label for="form-field-select-1">Formato</label>

      <select class="form-control" id="form-field-select-1">
        <option value=""></option>
        <option value="">------ CABILDO ------</option>
        <option value="SUPLENTE DE ESTA AGENCIA MUNICIPAL">SUPLENTE</option>
        <option value="TESORERO DE ESTA AGENCIA MUNICIPAL">TESORERO</option>
        <option value="ALCALDE UNICO CONSTITUCIONAL">ALCALDE UNICO CONSTITUCIONAL</option>
        <option value="SUPLENTE DEL ALCALDE UNICO CONSTITUCIONAL">SUPLENTE DEL ALCALDE UNICO CONSTITUCIONAL</option>
        <option value="ALCALDE SEGUNDO DE ESTA AGENCIA MUNICIPAL">ALCALDE SEGUNDO</option>
        <option value="SINDICO DE ESTA AGENCIA MUNICIPAL">SINDICO</option>
        <option value="SUPLENTE DE SINDICO DE ESTA AGENCIA MUNICIPAL">SUPLENTE DE SINDICO</option>
        <option value="REGIDOR PRIMERO DE ESTA AGENCIA MUNICIPAL">REGIDOR PRIMERO</option>
        <option value="REGIDOR SEGUNDO DE ESTA AGENCIA MUNICIPAL">REGIDOR SEGUNDO</option>
        <option value="REGIDOR TERCERO DE ESTA AGENCIA MUNICIPAL">REGIDOR TERCERO</option>
        <option value="REGIDOR CUARTO DE ESTA AGENCIA MUNICIPAL">REGIDOR CUARTO</option>
        <option value="REGIDOR QUINTO DE ESTA AGENCIA MUNICIPAL">REGIDOR QUINTO</option>
        <option value="REGIDOR SEXTO DE ESTA AGENCIA MUNICIPAL">REGIDOR SEXTO</option>
        <option value="TENIENTE DE ESTA AGENCIA MUNICIPAL">TENIENTE</option>
        <option value="TOPIL DE ESTA AGENCIA MUNICIPAL">TOPIL</option>
        
        <option value="">------ TEMPLO CATOLICO ------</option>

        <option value="PRESIDENTE DEL COMITE DEL TEMPLO CATOLICO">PRESIDENTE</option>I
        <option value="VICEPRESIDENTE DEL COMITE DEL TEMPLO CATOLICO">VICEPRESIDENTE</option>
        <option value="SECRETARIO DEL COMITE DEL TEMPLO CATOLICO">SECRETARIO</option>
        <option value="TESORERO DEL COMITE DEL TEMPLO CATOLICO">TESORERO</option>
        <option value="PRIMER VOCAL DEL COMITE DEL TEMPLO CATOLICO">PRIMER VOCAL</option>
        <option value="SEGUNDO VOCAL DEL COMITE DEL TEMPLO CATOLICO">SEGUNDO VOCAL</option>
        <option value="TERCER VOCAL DEL COMITE DEL TEMPLO CATOLICO">TERCER VOCAL</option>
        <option value="CUARTO VOCAL DEL COMITE DEL TEMPLO CATOLICO">CUARTO VOCAL</option>
        <option value="QUINTO VOCAL DEL COMITE DEL TEMPLO CATOLICO">QUINTO VOCAL</option>
        <option value="SEXTO VOCAL DEL COMITE DEL TEMPLO CATOLICO">SEXTO VOCAL</option>
        <option value="FISCAL DEL COMITE DEL TEMPLO CATOLICO">FISCAL</option>
        <option value="FISCAL DEL COMITE DEL TEMPLO CATOLICO">FISCAL</option>
        <option value="FISCAL DEL COMITE DEL TEMPLO CATOLICO">FISCAL</option>

        <option value=""><strong>------ AGUA POTABLE ------</strong> </option>
        <option value="PRESIDENTE DEL COMITE DE AGUA POTABLE">PRESIDENTE</option>
        <option value="VICEPRESIDENTE DEL COMITE DE AGUA POTABLE">VICEPRESIDENTE</option>
        <option value="SECRETARIO DEL COMITE DE AGUA POTABLE">SECRETARIO</option>
        <option value="TESORERO DEL COMITE DE AGUA POTABLE">TESORERO</option>
        <option value="PRIMER VOCAL DEL COMITE DE AGUA POTABLE">PRIMER VOCAL</option>
        <option value="SEGUNDO VOCAL DEL COMITE DE AGUA POTABLE">SUGUNDO VOCAL</option>
        <option value="TERCER VOCAL DEL COMITE DE AGUA POTABLE">TERCER VOCAL</option>
        <option value="CUARTO VOCAL DEL COMITE DE AGUA POTABLE">CUARTO VOCAL</option>
        <option value="QUINTO VOCAL DEL COMITE DE AGUA POTABLE">QUINTO VOCAL</option>
        <option value="SEXTO VOCAL DEL COMITE DE AGUA POTABLE">SEXTO VOCAL</option>
        
        <option value="">------ TIENDA DICONSA ------</option>
        <option value="ENCARGADO DE LA TIENDA DICONSA">ENCARGADO</option>
        <option value="PRESIDENTE DE LA TIENDA DICONSA">PRESIDENTE</option>
        <option value="SECRETARIO DE LA TIENDA DICONSA">SECRETARIO</option>
        <option value="TESORERO DE LA TIENDA DICONSA">TESORERO</option>
        <option value="VOCAL PRIMERO DE LA TIENDA DICONSA">VOCAL PRIMERO</option>
        <option value="VOCAL SEGUNDO DE LA TIENDA DICONSA">VOCAL SEGUNDO</option>
        <option value="VOCAL TERCERO DE LA TIENDA DICONSA">VOCAL TERCERO</option>
      </select>
    </div>
  <div class="hr hr-dotted"></div>

  <h4 class="blue smaller">
    <i class="fa fa-tags"></i>
    Categorías
  </h4>

  <div class="tree-container">
    <ul id="cat-tree"></ul>
  </div>

  <div class="hr hr-dotted hr-24"></div>

  <div class="text-center">
    <button type="button" class="btn btn-default btn-round btn-white">
      <i class="ace-icon fa fa-remove red2"></i>
      Limpiar
    </button>

    <button type="button" class="btn btn-default btn-round btn-white">
      <i class="ace-icon fa fa-refresh green"></i>
      Rellenar formato
    </button>
  </div>

  <div class="space-4"></div>
</div>