  <div>
        <div class="row">
            <app-header-formatos></app-header-formatos>
        </div>
      <div class="" [ngStyle]="{'font-family': _datos.fuente, 'font-size': _datos.tamFuente +'.0pt'}">
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: #262626;">A QUIEN CORRESPONDA:</span></p>
        <p style="margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: justify; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">EL QUE SUSCRIBE C. LIC. GASPAR MELCHOR MONJARAZ JOS&Eacute;, AGENTE MUNICIPAL CONSTITUCIONAL DE BUENAVISTA PERTENECIENTE AL &nbsp;MUNICIPIO DE SAN AGUST&Iacute;N LOXICHA, DISTRITO DE POCHUTLA, OAXACA, EN USO DE LAS FACULTADES, QUE LA LEY ORG&Aacute;NICA MUNICIPAL ME CONFIERE, A TRAV&Eacute;S DE LA PRESENTE ME PERMITO.</span></p>
        <p style="margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="color: #262626;">HACER CONSTAR</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
        <p *ngIf="(_datos.sexo == 'hombre'); else elseBlock" style="margin-bottom: .0001pt; text-align: justify; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">QUE 
          EL C. {{this._datos.nombre | uppercase}}, ES ORIGINARIO Y VECINO&nbsp;
          DE ESTA COMUNIDAD, CON {{_datos.edad}} A&Ntilde;OS DE EDAD, TIENE UNA VIDA MODESTA. SE EXPIDE LA PRESENTE A LOS {{_datos.dia}} D&Iacute;AS DEL MES DE {{_datos.mes}} DEL A&Ntilde;O {{_datos.anio}}, PARA TODOS LOS EFECTOS LEGALES A QUE HAYA LUGAR.</span>
        </p>
        <ng-template #elseBlock>
        <p style="margin-bottom: .0001pt; text-align: justify; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">QUE 
            <ng-template *ngIf="(_datos.sexo == 'hombre'); else elseBlock">EL C. {{this._datos.nombre | uppercase}}, ES ORIGINARIO Y VECINO&nbsp;</ng-template>
            <ng-template #elseBlock>LA C. {{this._datos.nombre | uppercase}}, ES ORIGINARIA Y VECINA&nbsp;</ng-template>
  
            DE ESTA COMUNIDAD, CON {{_datos.edad}} A&Ntilde;OS DE EDAD, TIENE UNA VIDA MODESTA. SE EXPIDE LA PRESENTE A LOS {{_datos.dia}} D&Iacute;AS DEL MES DE {{_datos.mes}} DEL A&Ntilde;O {{_datos.anio}}, PARA TODOS LOS EFECTOS LEGALES A QUE HAYA LUGAR.</span>
          </p>
        </ng-template>
        
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
        
        <app-footer-formatos></app-footer-formatos>
      </div>
    </div>