
  <textarea>
      <div class="fr-view">
          <div class="row">
              <div class="col-sm-8 col-md-8 col-xs-8 principal">
                <img src="../../../../../../assets/images/formatos/logoL_.png" 
                    style="width: 250px; height: 140px;" alt=""><br><strong>
                        AGENCIA MUNICIPAL CONSTITUCIONAL <br>
                        BUENAVISTA LOXICHA. PERIODO 2018</strong>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4 principal_2">
                  <strong><br>DEPENDENCIA: H. AGENCIA MUNICIPAL<br>
                  CONSTITUCIONAL<br>
                  BUENAVISTA LOXICHA POCHUTLA.<br>
                  SECCION: ADMINISTRATIVA</strong>
              </div>
          </div>

          <section style="text-align:justify">
              <div class="col-sm-12 widget-container-col cuerpo-formato" id="widget-container-col-13">
                  <h3>
                    <strong>A QUIEN CORRESPONDA:</strong>
                  </h3>
                </div>
                <div class="col-sm-12 widget-container-col cuerpo-formato"
                      style="text-align:justify"
                      id="widget-container-col-13">
                  <h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;EL QUE SUSCRIBE C. LIC. GASPAR MELCHOR MONJARAZ JOSE AGENTE MUNICIPAL CONSTITUCIONAL DE ESTA POBLACION, EN FUNCIONES LEGALES Y EN USO DE LAS FACULTADES QUE LA LEY ORGANICA MUNICIPAL VIGENTE EN EL ESTADO DE OAXACA ME OTORGA, ME PERMITO EXTENDER LA PRESENTE:
                  </h3>
                </div>
              
                <div class="col-sm-12 footer-inner">
                    <p class="center-align centrar-impesion" style="font-size: 32px; text-align: center">
                    CONSTANCIA DE TERMINACION DE SERVICIO
                  </p>
                </div>
              
                <div class="col-sm-12">
                    <h3>
                      AL C. , VECINO DE ESTA POBLACION, QUIEN CUMPLIO DEBIDAMENTE CON SU SERVICIO DE: CABILDO DURANTE EL PERIODO 2018
                    </h3>
                </div>
              
                <div class="col-sm-12">
                  <h3>
                      POR LO QUE A PETICION DEL INTERESADO PARA LOS FINES LEGALES QUE LE CONVENGAN, SE EXPIDE LA PRESENTE EN LA AGENCIA MUNICIPAL DE BUENAVISTA LOXICHA, POCHUTLA, OAXACA A 1 DIA(S) DEL MES DE ENERO DEL AÑO DOS MIL DIECIOCHO.
                  </h3>
                </div>
          </section>

                <div class="col-sm-12 footer-inner">
                    <p class="center-align centrar-impesion"> <strong>
                        A T E N T A M E N T E.</strong> <br>
                        <strong>
                          SUFRAGIO EFECTIVO NO REELECCION <br>
                          "EL RESPETO AL DERECHO AJENO ES LA PAZ" <br>
                          AGENTE MUNICIPAL CONSTITUCIONAL
                        </strong>
                    </p>
                  </div>

                  <div class="col-md-12 text-center" style="margin-bottom: 0px; padding-bottom: 0px;">
                      <p><br>
                        <strong> C. Cenobio Monjaraz García </strong><br>
                      
                      </p>
                    </div>  
      </div>
  </textarea>