
  <!-- <textarea>
      <div class="fr-view">
          <div class="row">
              <div class="col-sm-8 col-md-8 col-xs-8 principal">
                <img src="../../../../../../assets/images/formatos/logoL_.png" 
                    style="width: 250px; height: 140px;" alt=""><br><strong>
                        AGENCIA MUNICIPAL CONSTITUCIONAL <br>
                        BUENAVISTA LOXICHA. PERIODO 2018</strong>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4 principal_2">
                  <strong><br>DEPENDENCIA: H. AGENCIA MUNICIPAL<br>
                  CONSTITUCIONAL<br>
                  BUENAVISTA LOXICHA POCHUTLA.<br>
                  SECCION: ADMINISTRATIVA</strong>
              </div>
          </div>

          <section style="text-align:justify">
              <div class="col-sm-12 widget-container-col cuerpo-formato" id="widget-container-col-13">
                  <h3>
                    <strong>A QUIEN CORRESPONDA:</strong>
                  </h3>
                </div>
                <div class="col-sm-12 widget-container-col cuerpo-formato"
                      style="text-align:justify"
                      id="widget-container-col-13">
                  <h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;EL QUE SUSCRIBE C. LIC. GASPAR MELCHOR MONJARAZ JOSE AGENTE MUNICIPAL CONSTITUCIONAL DE ESTA POBLACION, EN FUNCIONES LEGALES Y EN USO DE LAS FACULTADES QUE LA LEY ORGANICA MUNICIPAL VIGENTE EN EL ESTADO DE OAXACA ME OTORGA, ME PERMITO EXTENDER LA PRESENTE:
                  </h3>
                </div>
              
                <div class="col-sm-12 footer-inner">
                    <p class="center-align centrar-impesion" style="font-size: 32px; text-align: center">
                    CONSTANCIA DE TERMINACION DE SERVICIO
                  </p>
                </div>
              
                <div class="col-sm-12">
                    <h3>
                      AL C. , VECINO DE ESTA POBLACION, QUIEN CUMPLIO DEBIDAMENTE CON SU SERVICIO DE: CABILDO DURANTE EL PERIODO 2018
                    </h3>
                </div>
              
                <div class="col-sm-12">
                  <h3>
                      POR LO QUE A PETICION DEL INTERESADO PARA LOS FINES LEGALES QUE LE CONVENGAN, SE EXPIDE LA PRESENTE EN LA AGENCIA MUNICIPAL DE BUENAVISTA LOXICHA, POCHUTLA, OAXACA A 1 DIA(S) DEL MES DE ENERO DEL AÑO DOS MIL DIECIOCHO.
                  </h3>
                </div>
          </section>

                <div class="col-sm-12 footer-inner">
                    <p class="center-align centrar-impesion"> <strong>
                        A T E N T A M E N T E.</strong> <br>
                        <strong>
                          SUFRAGIO EFECTIVO NO REELECCION <br>
                          "EL RESPETO AL DERECHO AJENO ES LA PAZ" <br>
                          AGENTE MUNICIPAL CONSTITUCIONAL
                        </strong>
                    </p>
                  </div>

                  <div class="col-md-12 text-center" style="margin-bottom: 0px; padding-bottom: 0px;">
                      <p><br>
                        <strong> C. Cenobio Monjaraz García </strong><br>
                      
                      </p>
                    </div>  
      </div>
  </textarea> -->

  <textarea>
      <div class="fr-view">
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">A QUIEN CORRESPONDA:</span></p>
        <p style="margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: justify; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">EL QUE SUSCRIBE C. LIC. GASPAR MELCHOR MONJARAZ JOS&Eacute;, AGENTE MUNICIPAL CONSTITUCIONAL DE BUENAVISTA PERTENECIENTE AL &nbsp;MUNICIPIO DE SAN AGUST&Iacute;N LOXICHA, DISTRITO DE POCHUTLA, OAXACA, EN USO DE LAS FACULTADES, QUE LA LEY ORG&Aacute;NICA MUNICIPAL ME CONFIERE, A TRAV&Eacute;S DE LA PRESENTE ME PERMITO.</span></p>
        <p style="margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">HACER CONSTAR</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: justify; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">QUE EL C. JAIME MO&Iacute;SES SANTIAGO AMBROSIO, ES ORIGINARIO Y VECINO&nbsp; DE ESTA COMUNIDAD, CON 31 A&Ntilde;OS DE EDAD, TIENE UNA VIDA MODESTA. SE EXPIDE LA PRESENTE A LOS 08 D&Iacute;AS DEL MES DE &nbsp;ENERO DEL A&Ntilde;O 2018, PARA TODOS LOS EFECTOS LEGALES A QUE HAYA LUGAR.</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">A<strong> T E N T A M E N T E.</strong></span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">SUFRAGIO EFECTIVO NO REELECCION</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&ldquo;EL RESPETO AL DERECHO AJENO ES LA PAZ&rdquo;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">AGENTE MUNICIPAL CONSTITUCIONAL.</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">___________________________</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">LIC. GASPAR MELCHOR MONJARAZ JOSE</span></p> 
      </div>
  </textarea>