
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="font-size: 13.0pt; color: #262626;">A<strong> T E N T A M E N T E.</strong></span></p>
        <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">SUFRAGIO EFECTIVO NO REELECCION</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&ldquo;EL RESPETO AL DERECHO AJENO ES LA PAZ&rdquo;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 13.0pt; color: #262626;">&nbsp;</span></strong></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">SINDICO MUNICIPAL.</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">&nbsp;</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">___________________________</span></p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 13.0pt;">{{_datos.sindico}}</span></p> 