<div class="search-area well well-sm oculto-impresion">
  <div class="search-filter-header bg-primary">
    <h5 class="smaller no-margin-bottom">
      <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Datos del formato
    </h5>
  </div>
  <!-- Create a tag that we will use as the editable area. -->
    <!-- You can use a div tag as well. -->

  <div class="space-10"></div>
  <div>
  <form>
      <div class="form-group" *ngIf="idFormato != 3">
          <label for="nombre"> Nombre </label>

          <div>
            <input autofocus
                    style="text-transform:uppercase;"
                    type="text" 
                    id="nombre"
                    name="nombre"
                    [(ngModel)]="nombre"
                    placeholder="Nombre completo" 
                    class="col-xs-10 col-sm-12"
                    (keyup)="actNombre()"
                    />
          </div>
      </div>

      <div class="form-group" style="margin-top: 6px;" *ngIf="idFormato != 3">
          <label class="">Sexo</label>

          <div class="radio" style="margin-top: -3px">
            <label 
            (click)="actSexo('hombre')">
              <input name="sexo" 
                      type="radio" 
                      class="ace" 
                      checked="checked" 
                      value="hombre"/>
              <span class="lbl">Hombre</span>
            </label>
            <label 
            (click)="actSexo('mujer')">
              <input name="sexo" 
                    type="radio" 
                    class="ace"
                    value="mujer" />
              <span class="lbl">Mujer</span>
            </label>
          </div>
      </div>

      <!-- Origen y vecindad - Posecion - Domicilio -->
      <div class="form-group" *ngIf="idFormato == 0 || idFormato == 4 || idFormato == 7">
          <label for="edad">Edad </label>

          <div>
            <input  (keyup)="actEdad()"
                    type="text" 
                    id="edad"
                    name="edad"
                    [(ngModel)]="edad"
                    placeholder="Edad"
                    value="18" 
                    class="col-xs-10 col-sm-12" />
          </div>
      </div>

      <!-- Nombramiento y liberación  -->
      <div *ngIf="idFormato == 2 || idFormato == 1">

        <div class="form-group">
          <label for="localidad"> Localidad </label>
            <div>
              <input  (keyup)="actLocalidad()"
                      style="text-transform:uppercase;"
                      type="text" 
                      id="localidad" 
                      placeholder="Localidad" 
                      class="col-xs-10 col-sm-12" 
                      name="localidad" 
                      [(ngModel)]="localidad" 
                      />
            </div>
        </div>
      
        <div class="form-group">
          <label for="nombramiento" class=" sepElemForm"> Nombramiento </label>
            <div>
              <input
                      type="text" style="text-transform:uppercase;"
                      id="nombramiento" 
                      placeholder="Nombramiento"
                      class="col-xs-10 col-sm-12" 
                      name="nombramiento"
                      [(ngModel)]="nombramiento"
                      (keyup)="actNombramiento()"/>
            </div>
            <select class="form-control" (click)="actNombramiento()" name="nombramiento" id="servicio" [(ngModel)]="nombramiento">
                <option value="">------ CABILDO ------</option>
                <option value="SUPLENTE DE ESTA AGENCIA MUNICIPAL">SUPLENTE</option>
                <option value="TESORERO DE ESTA AGENCIA MUNICIPAL">TESORERO</option>
                <option value="ALCALDE UNICO CONSTITUCIONAL">ALCALDE UNICO CONSTITUCIONAL</option>
                <option value="SUPLENTE DEL ALCALDE UNICO CONSTITUCIONAL">SUPLENTE DEL ALCALDE UNICO CONSTITUCIONAL</option>
                <option value="ALCALDE SEGUNDO DE ESTA AGENCIA MUNICIPAL">ALCALDE SEGUNDO</option>
                <option value="SINDICO DE ESTA AGENCIA MUNICIPAL">SINDICO</option>
                <option value="SUPLENTE DE SINDICO DE ESTA AGENCIA MUNICIPAL">SUPLENTE DE SINDICO</option>
                <option value="REGIDOR PRIMERO DE ESTA AGENCIA MUNICIPAL">REGIDOR PRIMERO</option>
                <option value="REGIDOR SEGUNDO DE ESTA AGENCIA MUNICIPAL">REGIDOR SEGUNDO</option>
                <option value="REGIDOR TERCERO DE ESTA AGENCIA MUNICIPAL">REGIDOR TERCERO</option>
                <option value="REGIDOR CUARTO DE ESTA AGENCIA MUNICIPAL">REGIDOR CUARTO</option>
                <option value="REGIDOR QUINTO DE ESTA AGENCIA MUNICIPAL">REGIDOR QUINTO</option>
                <option value="REGIDOR SEXTO DE ESTA AGENCIA MUNICIPAL">REGIDOR SEXTO</option>
                <option value="TENIENTE DE ESTA AGENCIA MUNICIPAL">TENIENTE</option>
                <option value="TOPIL DE ESTA AGENCIA MUNICIPAL">TOPIL</option>
                
                <option value="">------ TEMPLO CATOLICO ------</option>

                <option value="PRESIDENTE DEL COMITE DEL TEMPLO CATOLICO">PRESIDENTE</option>I
                <option value="VICEPRESIDENTE DEL COMITE DEL TEMPLO CATOLICO">VICEPRESIDENTE</option>
                <option value="SECRETARIO DEL COMITE DEL TEMPLO CATOLICO">SECRETARIO</option>
                <option value="TESORERO DEL COMITE DEL TEMPLO CATOLICO">TESORERO</option>
                <option value="PRIMER VOCAL DEL COMITE DEL TEMPLO CATOLICO">PRIMER VOCAL</option>
                <option value="SEGUNDO VOCAL DEL COMITE DEL TEMPLO CATOLICO">SEGUNDO VOCAL</option>
                <option value="TERCER VOCAL DEL COMITE DEL TEMPLO CATOLICO">TERCER VOCAL</option>
                <option value="CUARTO VOCAL DEL COMITE DEL TEMPLO CATOLICO">CUARTO VOCAL</option>
                <option value="QUINTO VOCAL DEL COMITE DEL TEMPLO CATOLICO">QUINTO VOCAL</option>
                <option value="SEXTO VOCAL DEL COMITE DEL TEMPLO CATOLICO">SEXTO VOCAL</option>
                <option value="FISCAL DEL COMITE DEL TEMPLO CATOLICO">FISCAL</option>
                <option value="FISCAL DEL COMITE DEL TEMPLO CATOLICO">FISCAL</option>
                <option value="FISCAL DEL COMITE DEL TEMPLO CATOLICO">FISCAL</option>

                <option value=""><strong>------ AGUA POTABLE ------</strong> </option>
                <option value="PRESIDENTE DEL COMITE DE AGUA POTABLE">PRESIDENTE</option>
                <option value="VICEPRESIDENTE DEL COMITE DE AGUA POTABLE">VICEPRESIDENTE</option>
                <option value="SECRETARIO DEL COMITE DE AGUA POTABLE">SECRETARIO</option>
                <option value="TESORERO DEL COMITE DE AGUA POTABLE">TESORERO</option>
                <option value="PRIMER VOCAL DEL COMITE DE AGUA POTABLE">PRIMER VOCAL</option>
                <option value="SEGUNDO VOCAL DEL COMITE DE AGUA POTABLE">SUGUNDO VOCAL</option>
                <option value="TERCER VOCAL DEL COMITE DE AGUA POTABLE">TERCER VOCAL</option>
                <option value="CUARTO VOCAL DEL COMITE DE AGUA POTABLE">CUARTO VOCAL</option>
                <option value="QUINTO VOCAL DEL COMITE DE AGUA POTABLE">QUINTO VOCAL</option>
                <option value="SEXTO VOCAL DEL COMITE DE AGUA POTABLE">SEXTO VOCAL</option>
                
                <option value="">------ TIENDA DICONSA ------</option>
                <option value="ENCARGADO DE LA TIENDA DICONSA">ENCARGADO</option>
                <option value="PRESIDENTE DE LA TIENDA DICONSA">PRESIDENTE</option>
                <option value="SECRETARIO DE LA TIENDA DICONSA">SECRETARIO</option>
                <option value="TESORERO DE LA TIENDA DICONSA">TESORERO</option>
                <option value="VOCAL PRIMERO DE LA TIENDA DICONSA">VOCAL PRIMERO</option>
                <option value="VOCAL SEGUNDO DE LA TIENDA DICONSA">VOCAL SEGUNDO</option>
                <option value="VOCAL TERCERO DE LA TIENDA DICONSA">VOCAL TERCERO</option>
              </select>
        </div>

      <div class="form-group">
        <label for="periodo" class=" sepElemForm">Periodo</label>
        <div>
            <input type="text" id="periodo" style="text-transform:uppercase;"
            placeholder="Periodo"
            (keyup)="actPeriodo()"
            class="col-xs-10 col-sm-12" 
            value="periodo 2018"
            name="periodo" [(ngModel)]="periodo"/>
        </div>
      </div>
      
      <div class="form-group">
        <label for="nombrado" class="sepElemForm"> Nombrado </label>
          <div>
            <input
                    type="text" style="text-transform:uppercase;"
                    id="nombrado" 
                    placeholder="Nombrado"
                    class="col-xs-10 col-sm-12" 
                    name="nombrado"
                    [(ngModel)]="nombrado"
                    (keyup)="actNombrado()"/>
          </div>
      </div>
      
      </div>

    <!-- Citatorio escuela -->
    <div *ngIf="idFormato == 3">
      
        <div class="form-group">
            <label for="director"> Director </label>
  
            <div>
              <input autofocus
                      style="text-transform:uppercase;"
                      type="text" 
                      id="director"
                      name="director"
                      [(ngModel)]="director"
                      placeholder="DIRECTOR DE LA ESCUELA" 
                      class="col-xs-10 col-sm-12"
                      (keyup)="actdirector()"/>
            </div>
        </div>
      
      <div class="form-group" *ngIf="activarCom">
        <label for="comite" class="sepElemForm"> Comite </label>
          <div>
            <input
                    type="text" style="text-transform:uppercase;"
                    id="comite" 
                    placeholder="COMITE DE PADRES DE FAMILIA"
                    class="col-xs-10 col-sm-12" 
                    name="comite"
                    [(ngModel)]="comite"
                    (keyup)="actComite()"/>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label bolder blue">Agregar comite</label>

          <div class="checkbox">
            <label>
              <input name="activarCom" 
                      type="checkbox" 
                      class="ace" 
                      [(ngModel)]="activarCom"
                      data-md-icheck (change)="toggleVisibility($event)"/>
              <span class="lbl">Activar comite</span>
            </label>
          </div>
      </div>
      
      <div class="form-group">
        <label for="escuela" class="sepElemForm"> Escuela </label>
          <div>
            <input
                    type="text" style="text-transform:uppercase;"
                    id="escuela" 
                    placeholder="ESC. PRIMARIA"
                    class="col-xs-10 col-sm-12" 
                    name="escuela"
                    [(ngModel)]="escuela"
                    (keyup)="actEscuela()"/>
          </div>
      </div>
      
      <div class="form-group">
          <label for="localidad"> Localidad </label>
            <div>
              <input  (keyup)="actLocalidad()"
                      style="text-transform:uppercase;"
                      type="text" 
                      id="localidad" 
                      placeholder="BUENAVISTA LOXICHA" 
                      class="col-xs-10 col-sm-12" 
                      name="localidad" 
                      [(ngModel)]="localidad" 
                      />
            </div>
        </div>
      
      <div class="form-group">
        <label for="fechaCita" class="sepElemForm"> Fecha de cita </label>
          <div>
            <input
                    type="text" style="text-transform:uppercase;"
                    id="fechaCita" 
                    placeholder="Fecha de cita"
                    class="col-xs-10 col-sm-12" 
                    name="fechaCita"
                    [(ngModel)]="fechaCita"
                    (keyup)="actFechaCita()"/>
          </div>
      </div>
    </div>

    <div *ngIf = "idFormato == 4">
      <div class="form-group">  
        <label for="ocupacion"> Ocupación </label>

        <div>
          <input style="text-transform:uppercase;"
                  type="text" 
                  id="ocupacion"
                  name="ocupacion"
                  [(ngModel)]="ocupacion"
                  placeholder="Ocupación" 
                  class="col-xs-10 col-sm-12"
                  (keyup)="actOcupacion();"
                  />
        </div>
      </div>
      <div class="form-group">  
        <label for="localidad"> Localidad </label>

        <div>
          <input style="text-transform:uppercase;"
                  type="text" 
                  name="localidad"
                  [(ngModel)]="localidad"
                  placeholder="Localidad" 
                  class="col-xs-10 col-sm-12"
                  (keyup)="actLocalidad();"
                  />
        </div>
      </div>
      
      <div class="form-group">  
        <label for="vendedor"> Vendido por </label>

        <div>
          <input style="text-transform:uppercase;"
                  type="text" 
                  name="vendedor"
                  [(ngModel)]="vendedor"
                  placeholder="vendedor" 
                  class="col-xs-10 col-sm-12"
                  (keyup)="actVendedor()"
                  />
        </div>
      </div>

      
      <div class="form-group" style="margin-top: 6px;">
          <label class="">Sexo vendedor</label>

          <div class="radio" style="margin-top: -3px">
            <label 
            (click)="actSexoVendedor('hombre')">
              <input name="sexoVendedor" 
                      type="radio" 
                      class="ace" 
                      checked="checked" 
                      value="hombre"/>
              <span class="lbl">Hombre</span>
            </label>
            <label 
            (click)="actSexoVendedor('mujer')">
              <input name="sexoVendedor" 
                    type="radio" 
                    class="ace"
                    value="mujer" />
              <span class="lbl">Mujer</span>
            </label>
          </div>
      </div>
        
      <div class="form-group">  
        <label for="ublicacion"> Ubicación </label>

        <div>
          <input style="text-transform:uppercase;"
                  type="text" 
                  name="ublicacion"
                  [(ngModel)]="ubicacion"
                  placeholder="ublicacion" 
                  class="col-xs-10 col-sm-12"
                  (keyup)="actUblicacion()"
                  />
        </div>
      </div>
        
      <div class="form-group">  
        <label for="medidas"> Medidas y colindancias </label>

        <div>
          <input style="text-transform:uppercase;"
                  type="text" 
                  name="norte"
                  [(ngModel)]="norte"
                  placeholder="norte" 
                  class="col-xs-10 col-sm-12"
                  (keyup)="actNorte()"
                  />
        </div>
        <div>
            <input style="text-transform:uppercase;"
                    type="text" 
                    name="sur"
                    [(ngModel)]="sur"
                    placeholder="sur" 
                    class="col-xs-10 col-sm-12"
                    (keyup)="actSur()"
                    />
          </div>
          <div>
              <input style="text-transform:uppercase;"
                      type="text" 
                      name="oriente"
                      [(ngModel)]="oriente"
                      placeholder="oriente" 
                      class="col-xs-10 col-sm-12"
                      (keyup)="actOriente()"
                      />
            </div>
            <div>
                <input style="text-transform:uppercase;"
                        type="text" 
                        name="poniente"
                        [(ngModel)]="poniente"
                        placeholder="poniente" 
                        class="col-xs-10 col-sm-12"
                        (keyup)="actPoniente()"
                        />
              </div>
      </div>
    </div>

    <div *ngIf="idFormato == 5">
      
        <div class="form-group">
          <label for="padre" class="sepElemForm">Nombre tutor </label>
            <div>
              <input
                      type="text" style="text-transform:uppercase;"
                      id="tutor" 
                      placeholder="Nombre de tutor"
                      class="col-xs-10 col-sm-12" 
                      name="tutor"
                      [(ngModel)]="tutor"
                      (keyup)="actTutor()"/>
            </div>
        </div>
        
        
        <div class="form-group">
          <label for="ocupacionPadre" class="sepElemForm">Ocupación padre </label>
            <div>
              <input
                      type="text" style="text-transform:uppercase;"
                      id="ocupacionTutor" 
                      placeholder="Ocupación de Tutor"
                      class="col-xs-10 col-sm-12" 
                      name="ocupacionTutor"
                      [(ngModel)]="ocupacionTutor"
                      (keyup)="actOcupacionTutor()"/>
            </div>
        </div>
        <div class="form-group">
          <label for="ingresoPadre" class="sepElemForm">Ingreso tutor </label>
            <div>
              <input
                      type="text" style="text-transform:uppercase;"
                      id="ingresoTutor" 
                      placeholder="1,000"
                      class="col-xs-10 col-sm-12" 
                      name="ingresoTutor"
                      [(ngModel)]="ingresoTutor"
                      (keyup)="actIngreso()"/>
            </div>
            <div>
                <input
                        type="text" style="text-transform:uppercase;"
                        id="descripcionIngreso" 
                        placeholder="MIL PESOS"
                        class="col-xs-10 col-sm-12" 
                        name="descripcionIngreso"
                        [(ngModel)]="descripcionIngreso"
                        (keyup)="actDescripcionIngreso()"/>
              </div>
        </div>
    </div>

    <div *ngIf="idFormato == 7">
      <div class="form-group">
        <label for="vecinoDe">Vecino de:</label>

        <div>
          <input  (keyup)="actVecinoDe()"
          style="text-transform:uppercase;"
                  type="text" 
                  id="vecinoDe"
                  name="vecinoDe"
                  [(ngModel)]="vecinoDe"
                  placeholder="localidad"
                  class="col-xs-10 col-sm-12" />
        </div>
      </div>
      <div class="form-group">
          <label for="padre">Padre:</label>
  
          <div>
            <input  (keyup)="actPadre()"
            style="text-transform:uppercase;"
                    type="text" 
                    id="padre"
                    name="padre"
                    [(ngModel)]="padre"
                    placeholder="padre"
                    class="col-xs-10 col-sm-12" />
          </div>
        </div>
        <div class="form-group">
            <label for="madre">Madre:</label>
    
            <div>
              <input  (keyup)="actMadre()"
                      type="text" 
                      style="text-transform:uppercase;"
                      id="madre"
                      name="madre"
                      [(ngModel)]="madre"
                      placeholder="madre"
                      class="col-xs-10 col-sm-12" />
            </div>
          </div>
    </div>


    <!-- Fecha de expedición - Todos -->
      <div class="form-group">
          <label for="fecha"  class="sepElemForm">Fecha de expedición</label>
        <div class="row">
            <div class="col-sm-2">
              <input type="text" name="dia" id="dia" [(ngModel)]="dia" (keyup)="actDia()" minlength="1" maxlength="31" size="2">
            </div>
            <div class="col-sm-6" (change)="actMes()">
              <select name="mes" id="mes" [(ngModel)]="mes">
                <option value="ENERO">ENERO</option>
                <option value="FEBRERO">FEBRERO</option>
                <option value="MARZO">MARZO</option>
                <option value="ABRIL">ABRIL</option>
                <option value="MAYO">MAYO</option>
                <option value="JUNIO">JUNIO</option>
                <option value="JULIO">JULIO</option>
                <option value="AGOSTO">AGOSTO</option>
                <option value="SEPTIEMBRE" selected="selected">SEPTIEMBRE</option>
                <option value="OCTUBRE">OCTUBRE</option>
                <option value="NOVIEMBRE">NOVIEMBRE</option>
                <option value="DICIEMBRE">DICIEMBRE</option>
              </select>
            </div>
            <div class="col-sm-4">
              <input type="text" name="anio" 
              [(ngModel)]="anio" id="anio"
              (keyup)="actAnio()"
              minlength="2018" maxlength="2019" size="4" 
              value="2018">
            </div>
        </div>
      </div>
    </form>
    
  <div class="space-10"></div>
  </div>
  <div class="hr hr-dotted hr-20"></div>

  <div class="hr hr-dotted hr-24"></div>

  <div class="text-center">
    <button type="button" class="btn btn-default btn-round btn-white">
      <i class="ace-icon fa fa-remove red2"></i>
      Limpiar
    </button>

    <button type="button" (click)="onPrint()" class="btn btn-default btn-round btn-white">
      <i class="ace-icon fa fa-refresh green"></i>
      Imprimir
    </button>
  </div>
  <hr>
  <button (click)="_datosFormato.fuente = 'calibri, sans-serif'" type="button" class="btn btn-default btn-round btn-white">
    Calibri
  </button>
  
  <button (click)="_datosFormato.fuente = 'verdana, geneva'" type="button" class="btn btn-default btn-round btn-white">
    Verdana
  </button>
  <button (click)="_datosFormato.fuente = 'arial, helvetica, sans-serif'" type="button" class="btn btn-default btn-round btn-white">
    Arial
  </button>
  <input type="number" name="tamFuente" id="tamFuente" [(ngModel)]="tamFuente" value="12" (click)="actFuente()" (keyup)="actFuente()">

  <div class="space-4"></div>
</div>