<div>
  <div class="row">
    <div class="col-sm-8 col-md-8 col-xs-7 principal">
      <img src="../../../../../../assets/images/formatos/logoL_.png" 
          style="width: 230px; height: 130px;" alt=""><br><strong>
              AGENCIA MUNICIPAL CONSTITUCIONAL <br>
              BUENAVISTA LOXICHA. PERIODO 2018</strong>
  </div>
  <div class="col-sm-4 col-md-4 col-xs-5 principal_2" style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
      <strong>DEPENDENCIA: SINDICATURA MUNICIPAL
      CONSTITUCIONAL<br>
      BUENAVISTA LOXICHA POCHUTLA.<br>
      SECCION: PENAL<br>
      EXPEDIENTE: 2018</strong>
  </div>
  </div>
<div class="" [ngStyle]="{'font-family': _datos.fuente, 'font-size': _datos.tamFuente +'.0pt'}">
  <p style="text-align: right;"><strong><span style="line-height: 115%;">ASUNTO:</span></strong><span style="line-height: 115%;"> CONSTANCIA DE ANTECEDENTES<br>NO PENALES </span></p>
  <p><span style="line-height: 115%;">A QUIEN CORRESPONDA.</span></p>
  <p style="text-align: justify;"><span style="line-height: 115%;">&nbsp; &nbsp; EL QUE SUSCRIBE C. {{_datos.sindico | uppercase}}, EN MI CARACTER DE SINDICO MUNICIPAL DE BUENAVISTA&nbsp; LOXICHA, SAN AGUSTIN LOXICHA, POCHUTLA, OAXACA, EN USO DE LAS FACULTADES QUE LA LEY ORGANICA MUNICIPAL ME CONFIERE, A TRAVES DE LA PRESENTE ME PERMITO,</span></p>
  <p style="text-align: justify;"><span style="line-height: 115%;">&nbsp;</span></p>
  <p style="text-align: center;"><strong><span style="line-height: 115%;">H A C E R&nbsp; C O N S T A R</span></strong></p>
  <p style="text-align: justify;"><strong><span style="line-height: 115%;">&nbsp;</span></strong></p>

  <div *ngIf="_datos.sexo == 'hombre'; else elseBlock">
    <p style="text-align: justify;"><span style="line-height: 115%;">QUE EL C. {{_datos.nombre}}, QUIEN ES ORIGINARIO Y VECINO DE ESTA AGENCIA MUNICIPAL DENOMINADA BUENAVISTA LOXICHA, SAN AGUSTIN LOXICHA, POCHUTLA, OAXACA, HASTA LA FECHA NO CUENTA CON ANTECEDENTE PENAL ALGUNO, POR LO QUE NO TENGO INCONVENIENTE EN EXTENDER LA PRESENTE, SOLICITANDO A LAS AUTORIDADES CIVILES Y MILITARES, BRINDAR EL APOYO REQUERIDO POR EL CIUDADANO.</span></p>
  </div>
    <ng-template #elseBlock>
      <p style="text-align: justify;"><span style="line-height: 115%;">QUE LA C. {{_datos.nombre}}, QUIEN ES ORIGINARIA Y VECINA DE ESTA AGENCIA MUNICIPAL DENOMINADA BUENAVISTA LOXICHA, SAN AGUSTIN LOXICHA, POCHUTLA, OAXACA, HASTA LA FECHA NO CUENTA CON ANTECEDENTE PENAL ALGUNO, POR LO QUE NO TENGO INCONVENIENTE EN EXTENDER LA PRESENTE, SOLICITANDO A LAS AUTORIDADES CIVILES Y MILITARES, BRINDAR EL APOYO REQUERIDO POR LA CIUDADANA.</span></p>
    </ng-template>
  
  <p style="text-align: justify;"><span style="line-height: 115%;">&nbsp; &nbsp; SE EXPIDE LA PRESENTE CONSTANCIA PARA LOS EFECTOS LEGALES O ADMINISTRATIVOS A QUE HAYA LUGAR, EN BUENAVISTA LOXICHA, SAN AGUSTIN LOXICHA, POCHUTLA, OAXACA, A {{_datos.dia}} DE {{_datos.mes}} DEL AÑO {{_datos.anio}}.</span></p>
  <p style="margin-bottom: .0001pt; text-align: center; text-indent: 35.4pt; line-height: normal;"><span style="color: #262626;">&nbsp;</span></p>
      
  <app-footer-sindico></app-footer-sindico>
</div>
</div>
