<div class="col-sm-8 col-md-8 col-xs-7 principal" style="font-size: 10px">
    <img src="../../../../../../assets/images/formatos/logoL_.png" 
        style="width: 150px; height: 80px; margin-left: 15px;" 
        alt="">
        <br><strong>
            AGENCIA MUNICIPAL CONSTITUCIONAL <br>
            {{_datos.agenciaLogo | uppercase}}. PERIODO 2018</strong>
  </div>
  <div class="col-sm-4 col-md-4 col-xs-5 principal_2" style="border-top: 1px solid gray; border-bottom: 1px solid gray; font-size: 10px;">
      <strong>DEPENDENCIA: H. AGENCIA MUNICIPAL
      CONSTITUCIONAL<br>
      {{_datos.agencia | uppercase}}.<br>
      SECCION: JURIDICA</strong>
  </div>